.container {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    background-color: snow;
    padding: 50px;
    border-radius: 10px;
}
.admin {
    width: 200px;
    height: 50px;
    font-family: 'Segoe UI';
    font-size: 25px;
    background-color:#f67280;
    border-radius: 10px;
    color: white;
}
.user {
    width: 200px;
    height: 50px;
    font-family: 'Segoe UI';
    font-size: 25px;
    background-color:#f67280;
    border-radius: 10px;
    color: white;
}
.tittle {
    font-family: 'Segoe UI';
    font-size: 30px;
}
.username {
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.password {
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.login {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color:#f67280;
    color: white;
}
.tittle1 {
    font-family: 'Segoe UI';
    font-size: 30px;
    color: white;
}
.button {
    font-family: 'Segoe UI';
    font-size: 30px;
    border-radius: 8px;
    background-color:#f67280;
    color: white;
}
.link:hover {
    background-color: black;
    color:white;
}
.quizheads{
  font-family: 'Segoe UI';
  color: #f67280;
  font-size: 40px;
  padding: 50px;
}
.buttons {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: #f67280;
    font-size: 20px;
    font-family: 'Segoe UI';
}
.question {
    font-size: 30px;
    font-family: 'Segoe UI';
}
.buttonss {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: lightslategray;
    font-size: 20px;
    font-family: 'Segoe UI';
}
.tilt {
    font-family: 'Segoe UI';
    font-size: 20px;
}
.login1 {
	font-family: 'Segoe UI';
}
.play {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #f67280;
    font-size: 20px;
    font-family: 'Segoe UI';
}
.buttonsss {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #f67280;
    font-size: 20px;
    font-family: 'Segoe UI';
}
.logout {
    float: left;
    margin: -40px 0px 0px 0px;
    padding: 0px 10px 0px px;

}
.adminpics {
    width: 30px;
    height: 30px;
    float: left;
    margin: 30px 0px 0px 0px;
}
.logout1 {
    float: right;
    margin: -20px 0px 0px 0px;
    padding: 0px 10px 0px 0px;

}
.logout2 {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background-color: #f67280; 
    font-family: 'Segoe UI';
}